body, table, div, p, dl {
		font: 400 14px/21px arial,sans-serif;
}

body {
        background-color: #EEE;
        color: black;
        margin: 0;
}

div.contents {
        width: 920px;
        margin-left: auto;
        margin-right: auto;
		margin-top: 10px;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 20px;
        background-color: white;
        border-radius: 8px;
		border: 1px solid #AAA;
}

div.header {
        width: 920px;
        margin-left: auto;
        margin-right: auto;
		margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
		background-image: none;
        background-color: white;
        border-radius: 8px;
		border: 1px solid #AAA;
}

#projectname {
		font: bold 300% "courier new",courier,monospace;
}

div.headertitle {
		padding: 5px 5px 0px 0px;
}

div.title {
		padding-top: 18px;
		padding-bottom: 18px;
		font: bold 130% "courier new",courier,monospace;
		margin: auto;
}

#navrow1 {
		border-top: 1px solid #AAA;
}

#navrow2, #navrow1, div.navpath {
		border-right: 1px solid #AAA;
		border-left: 1px solid #AAA;
}


#MSearchBox {
        margin-left: 480px;
		right: auto;
}

#top {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
}

#titlearea {
		border-bottom: none;
}

hr.footer {
        display: none;
}

.footer {
        background-color: #EEE;
}

h2.groupheader {
		margin-top: 30px;

		font-size: 150%;
        font-weight: bold;
        color: gray;
}

tr.heading h2 {
		margin-top: 30px;
}

address.footer {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
}

h1 {
		padding-top: 10px;
		font: bold 130% "courier new",courier,monospace;
		color: #4665A2;
}

.tablist a, .navpath li.navelem a, .tablist li.current a, .tablist a:hover {
		text-shadow: none;
}

.navpath li.navelem a {
		color: white;
}

.navpath ul {
		background-image: url('tab_a.png');
		border: none;
}
		



li.navelem {
		padding: 0 20px;
		font-style:italic;
}

p.startli, p.startdd, p.starttd {
		margin-top: 1em;
		margin-bottom: 1em;
}

.caption {
		font-weight: normal;
}

.directory tr.even {
		border-bottom: 1px dashed #4665A2;
		border-top: 1px dashed #4665A2;
		background-color: white;
}

td.entry {
	padding-top: 3px;
}

.tabs2, .tabs3 {
    font-size: 11px;
}


/* code syntax recoloring */

div.line {
	line-height: normal;
}

span.comment {
		color: #3F7F5F;
}

span.preprocessor, span.keyword, span.keywordflow, span.keywordtype {
		color: darkred;
        font-weight: bold;
}

a.code, a.code:visited {
		color: black;
}





/* brief code description cells */

.params, .paramname, .retval, .paramname {
		vertical-align: top;
		padding-right: 8px;
}

div.memdoc {
		color: gray;
}

dl.tparams, dl.params {
		color: black;
}

div.memproto {
		text-shadow: none;
}

div.memitem {
		margin-bottom: 30px;
}

td.memTemplParams, td.memTemplItemLeft, td.memItemLeft {
		padding-left: 20px;
		text-align: justify;
		font-family: "courier new",courier,monospace;
		font-size: 85%;
}

td.memTemplItemRight, td.memItemRight {
		font-family: "courier new",courier,monospace;
}

div.groupHeader {
		margin-left: auto;
		margin-bottom: 12px;
}

td.memSeparator {
		border-bottom: 1px dashed #DEE4F0;
		border-top: 1px dashed #DEE4F0;
        line-height: 8px;
}

td.mdescLeft, td.mdescRight {
		padding-top: 6px;
		padding-bottom: 6px;
		color: gray;
}

td.memname, td.paramtype, div.memtemplate {
		font-family: "courier new",courier,monospace;
}

.memtemplate {
		font-size: 85%;
}

td.paramname {
		font-family: "courier new",courier,monospace;
		font-weight: bold;
		color: darkred;
}
